header{
    text-align: center;

    img{
        width: 15%;
    }
}

main{
    .container-fluid{

        .row{
            text-align: center;

            .col-lg-2{
                height: 400px;
                padding: 20px;

                .character{
                    background-color: #FFFFFF;
                    border-radius: 5px;
                    box-shadow: 4px 4px 6px grey;
                    height: 100%;
                    width: 100%;
                    padding: 10px;
                    cursor: pointer;

                    img{
                        width: 100%;
                        border-radius: 50% 50%;
                        border: 6px solid blue;
                        padding: 5px;
                    }

                    h2{
                        margin-top: 0;
                    }
                }
            }
        }

    }
    .button{
        text-align: center;

        button{
            background-color: #63A1FA;
            width: 15%;
            border: none;
            font-size: 20px;
        }
    }
}
